[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "extern/Epidemics-On-Networks"]
	path = extern/Epidemics-On-Networks
	url = git@github.com:samuelcure/episimpy.git
