[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "extern/epidemics"]
	path = extern/epidemics
	url = git@github.com:samuelcure/Epidemics-On-Networks.git
