.vscode/launch.json
.vscode/settings.json
build/
plotting.py
snapshot1.dat

build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/episimpy.cpython-39-x86_64-linux-gnu.so
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-1b91b2887f0424dd0782.json
build/.cmake/api/v1/reply/cmakeFiles-v1-70386d1f35bf29e7906d.json
build/.cmake/api/v1/reply/codemodel-v2-cfdf0d756b7dcb0e760f.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/directory-extern.pybind11-Debug-8dfc4421fd7ebc2c69d2.json
build/.cmake/api/v1/reply/index-2023-04-25T06-46-32-0962.json
build/.cmake/api/v1/reply/target-episimpy-Debug-a776e6429d7ee13601de.json
build/.cmake/api/v1/reply/toolchains-v1-074db5775ec40502811a.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.26.1/CMakeCCompiler.cmake
build/CMakeFiles/3.26.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.26.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.26.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.26.1/CMakeSystem.cmake
build/CMakeFiles/3.26.1/CompilerIdC/a.out
build/CMakeFiles/3.26.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.26.1/CompilerIdCXX/a.out
build/CMakeFiles/3.26.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.26.2/CMakeCCompiler.cmake
build/CMakeFiles/3.26.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.26.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.26.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.26.2/CMakeSystem.cmake
build/CMakeFiles/3.26.2/CompilerIdC/a.out
build/CMakeFiles/3.26.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.26.2/CompilerIdCXX/a.out
build/CMakeFiles/3.26.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.26.3/CMakeCCompiler.cmake
build/CMakeFiles/3.26.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.26.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.26.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.26.3/CMakeSystem.cmake
build/CMakeFiles/3.26.3/CompilerIdC/a.out
build/CMakeFiles/3.26.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.26.3/CompilerIdCXX/a.out
build/CMakeFiles/3.26.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/episimpy.dir/build.make
build/CMakeFiles/episimpy.dir/cmake_clean.cmake
build/CMakeFiles/episimpy.dir/compiler_depend.internal
build/CMakeFiles/episimpy.dir/compiler_depend.make
build/CMakeFiles/episimpy.dir/compiler_depend.ts
build/CMakeFiles/episimpy.dir/depend.make
build/CMakeFiles/episimpy.dir/DependInfo.cmake
build/CMakeFiles/episimpy.dir/flags.make
build/CMakeFiles/episimpy.dir/link.txt
build/CMakeFiles/episimpy.dir/main.cpp.o
build/CMakeFiles/episimpy.dir/main.cpp.o.d
build/CMakeFiles/episimpy.dir/progress.make
build/CMakeFiles/episimpy.dir/extern/epidemics/epidemics/algorithm.cpp.o
build/CMakeFiles/episimpy.dir/extern/epidemics/epidemics/dynamic_graph.cpp.o
build/CMakeFiles/episimpy.dir/extern/epidemics/epidemics/graph.cpp.o
build/CMakeFiles/episimpy.dir/extern/epidemics/epidemics/NextReaction.cpp.o
build/CMakeFiles/episimpy.dir/extern/epidemics/epidemics/NextReactionMeanField.cpp.o
build/CMakeFiles/episimpy.dir/extern/epidemics/epidemics/nMGA.cpp.o
build/CMakeFiles/episimpy.dir/extern/epidemics/epidemics/random.cpp.o
build/CMakeFiles/episimpy.dir/extern/epidemics/epidemics/simulation.cpp.o
build/CMakeFiles/episimpy.dir/extern/epidemics/epidemics/simulation.cpp.o.d
build/CMakeFiles/episimpy.dir/extern/epidemics/epidemics/utility.cpp.o
build/CMakeFiles/episimpy.dir/src/binding.cpp.o
build/CMakeFiles/episimpy.dir/src/networkx.cpp.o
build/CMakeFiles/episimpy.dir/src/simulation_wrapper.cpp.o
build/CMakeFiles/episimpy.dir/src/tools.cpp.o
build/CMakeFiles/Progress/9
build/CMakeFiles/Progress/count.txt
build/extern/pybind11/cmake_install.cmake
build/extern/pybind11/Makefile
build/extern/pybind11/CMakeFiles/CMakeDirectoryInformation.cmake
build/extern/pybind11/CMakeFiles/progress.marks
extern/epidemics
extern/epidemics
extern/epidemics
